body{
    margin: 0;
    padding: 0;
}
main{
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#result{
    width: 100%;
    height: 50%;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
table{
    width: 50%;
    height: 50%;
}
.mainDisplay{
    background: burlywood;
width: 90%;
    height: 50%;

}
.btnNum{
    background: #000000;
    color: white;
    width: 100%;
    height: 100%;}
.btnNum:hover{
    background: #ffffff;
    color: black;
    cursor: pointer;
}.btnClear{
    background: #f50808;
    color: white;
    width: 100%;
    height: 100%;}
.btnClear:hover{
    background: #3cf609;
    color: black;
    cursor: pointer;
}.btnModule{
    background: #270bde;
    color: white;
    width: 100%;
    height: 100%;}
.btnModule:hover{
    background: #bc14e1;
    color: black;
    cursor: pointer;
}.btnEqual{
    background: #0e110b;
    color: white;
    width: 100%;
    height: 100%;}
.btnEqual:hover{
    background: #f50808;
    color: black;
    cursor: pointer;
}

